:root {
    --td-theme-color:#484036;
    --td-theme-sec-color:#484036;
    --td-black: black;
    --td-white: white;
    --td-grey-color: #f6f6f6;
    --td-grey-color-2: #f6f6f6;
    --td-grey-color-3: #f6f6f6;
    --td-grey-color-4: #f6f6f6;
}