$font-url : 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merienda:wght@300..900&display=swap';
:root {
    --td-fonts-poppins: "DM Sans", sans-serif;
    --td-fonts-muli:  "Merienda", cursive;

}