@use '../utils' as *;

.td-section-title{
    font-size: 70px;
    color:#CACAB0;
    // margin-top: 700px;
    font-weight: 400px;
    font-family: var(--td-fonts-poppins);
    & span{
        font-weight: 300;
        color: var(--td-theme-color);
        font-family: var(--td-fonts-muli);
    }
    &-1{
        font-size: 190px;
    }
    &-2{
        font-size: 190px;
    }
}